.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.763000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.718750;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(89,89,89);}
.fc2{color:rgb(255,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:40.000000px;}
.fs3{font-size:56.000000px;}
.fs1{font-size:96.000003px;}
.fs0{font-size:288.000009px;}
.y0{bottom:0.000000px;}
.y4{bottom:18.721498px;}
.y3{bottom:70.709989px;}
.y2{bottom:99.209990px;}
.yf{bottom:109.504866px;}
.ye{bottom:126.004868px;}
.y5{bottom:151.687943px;}
.y1{bottom:152.870148px;}
.yd{bottom:189.150542px;}
.yc{bottom:235.871018px;}
.yb{bottom:252.371019px;}
.ya{bottom:268.871019px;}
.y9{bottom:301.871020px;}
.y8{bottom:334.871021px;}
.y7{bottom:351.371022px;}
.y6{bottom:367.871024px;}
.h3{height:28.750000px;}
.h4{height:42.847656px;}
.h2{height:73.453127px;}
.h1{height:216.576007px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:73.886117px;}
.x2{left:85.435563px;}
.x8{left:105.531498px;}
.x3{left:217.371112px;}
.x5{left:232.956697px;}
.x6{left:541.055117px;}
.x7{left:542.139767px;}
.x4{left:698.018066px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:53.333334pt;}
.fs3{font-size:74.666666pt;}
.fs1{font-size:128.000004pt;}
.fs0{font-size:384.000012pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:24.961998pt;}
.y3{bottom:94.279986pt;}
.y2{bottom:132.279987pt;}
.yf{bottom:146.006487pt;}
.ye{bottom:168.006490pt;}
.y5{bottom:202.250591pt;}
.y1{bottom:203.826864pt;}
.yd{bottom:252.200723pt;}
.yc{bottom:314.494691pt;}
.yb{bottom:336.494691pt;}
.ya{bottom:358.494692pt;}
.y9{bottom:402.494694pt;}
.y8{bottom:446.494695pt;}
.y7{bottom:468.494696pt;}
.y6{bottom:490.494698pt;}
.h3{height:38.333334pt;}
.h4{height:57.130208pt;}
.h2{height:97.937503pt;}
.h1{height:288.768009pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:98.514823pt;}
.x2{left:113.914084pt;}
.x8{left:140.708665pt;}
.x3{left:289.828149pt;}
.x5{left:310.608930pt;}
.x6{left:721.406823pt;}
.x7{left:722.853023pt;}
.x4{left:930.690755pt;}
}
