/*CSS for content page (and shared with rest)*/

body {
  font-family: Calibri;
  background-color: #feffe9;
  color: #444;
  //font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  padding-top: 1rem;
}

/* Buttons
--------------------------------------------------*/
.btn-outline {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border: 2px solid;
  padding: 4px;
}

.btn-outline:hover {
  color:#fff;
  background-color: #5B5B5B;
  border-color: #000;
}

.btn-right {
  display: inline-block;
  //color: #fff;
  //background-color: #fff;
  border-color: #000;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-right: 0;
}

.btn-right span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-right span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-right:hover span {
  padding-right: 30px;
}

.btn-right:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-left {
  display: inline-block;
  //color: #000;
  //background-color: #fff;
  border-color: #000;
  border: none;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-left: 0;
}

.btn-left span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-left span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -2px;
  transition: 0.5s;
}

.btn-left:hover span {
  padding-left: 25px;
}

.btn-left:hover span:after {
  opacity: 1;
  left: 0;
}
