.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.973000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:71.981348px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(102,102,102);}
.fs1{font-size:36.000001px;}
.fs3{font-size:48.000002px;}
.fs2{font-size:56.000000px;}
.fs4{font-size:120.000004px;}
.fs0{font-size:152.000009px;}
.y0{bottom:0.000000px;}
.y40{bottom:49.650551px;}
.y42{bottom:67.510770px;}
.y3f{bottom:69.150552px;}
.y3d{bottom:69.829688px;}
.y3a{bottom:75.756856px;}
.y41{bottom:87.010771px;}
.y3c{bottom:89.329685px;}
.y34{bottom:92.634785px;}
.y39{bottom:95.256853px;}
.y1e{bottom:100.858025px;}
.y3e{bottom:108.150551px;}
.y3b{bottom:108.829686px;}
.y1d{bottom:111.358026px;}
.y33{bottom:112.134801px;}
.y38{bottom:114.756854px;}
.y29{bottom:126.178896px;}
.y32{bottom:131.634801px;}
.y1c{bottom:132.358026px;}
.y28{bottom:136.678896px;}
.y1b{bottom:142.858027px;}
.y27{bottom:147.178897px;}
.y31{bottom:151.134802px;}
.y35{bottom:152.260784px;}
.y1a{bottom:153.358027px;}
.y26{bottom:157.678897px;}
.yd{bottom:166.109992px;}
.y30{bottom:170.634803px;}
.y24{bottom:174.078420px;}
.yc{bottom:176.609993px;}
.y37{bottom:178.071810px;}
.yb{bottom:187.109993px;}
.y23{bottom:188.328421px;}
.y2f{bottom:190.134803px;}
.y36{bottom:197.571811px;}
.y22{bottom:202.578421px;}
.y2e{bottom:209.634801px;}
.y21{bottom:216.828421px;}
.y2d{bottom:229.134801px;}
.y45{bottom:239.020622px;}
.y2c{bottom:248.634802px;}
.y19{bottom:259.737160px;}
.y11{bottom:266.661176px;}
.y4{bottom:267.619833px;}
.y2b{bottom:268.134803px;}
.y16{bottom:270.037158px;}
.y18{bottom:276.237161px;}
.y44{bottom:278.020628px;}
.y3{bottom:278.119833px;}
.y47{bottom:279.487166px;}
.y13{bottom:281.665114px;}
.y6{bottom:286.273384px;}
.y5{bottom:288.588341px;}
.y2{bottom:288.619834px;}
.y17{bottom:292.737163px;}
.y43{bottom:297.520629px;}
.y46{bottom:298.987165px;}
.y14{bottom:305.701534px;}
.y12{bottom:315.530274px;}
.ya{bottom:334.424958px;}
.y9{bottom:344.924958px;}
.y20{bottom:345.883543px;}
.y2a{bottom:348.764960px;}
.y8{bottom:355.424959px;}
.y25{bottom:357.451968px;}
.y1f{bottom:360.133544px;}
.y1{bottom:361.771967px;}
.y10{bottom:363.521416px;}
.y7{bottom:365.924959px;}
.y15{bottom:372.058818px;}
.yf{bottom:374.021416px;}
.ye{bottom:384.521417px;}
.h2{height:27.544923px;}
.h4{height:36.726564px;}
.h3{height:40.769531px;}
.h6{height:42.847656px;}
.h5{height:90.240003px;}
.h1{height:114.304007px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1d{left:9.681788px;}
.x5{left:18.854331px;}
.x1f{left:21.385890px;}
.x1e{left:28.379054px;}
.xf{left:30.580710px;}
.x1c{left:36.043116px;}
.x30{left:37.998033px;}
.x6{left:75.872050px;}
.x10{left:80.312995px;}
.x29{left:88.244095px;}
.x3b{left:111.956696px;}
.x1b{left:133.783474px;}
.x7{left:140.517717px;}
.x25{left:144.705200px;}
.x37{left:183.360163px;}
.x20{left:199.178084px;}
.x8{left:203.488207px;}
.x34{left:204.975119px;}
.x32{left:209.265149px;}
.x31{left:215.040134px;}
.x35{left:219.840127px;}
.x36{left:223.860120px;}
.x2d{left:228.375135px;}
.x2c{left:231.855142px;}
.x2f{left:234.840105px;}
.x38{left:253.515128px;}
.x2a{left:256.200113px;}
.xa{left:258.639798px;}
.x16{left:261.755153px;}
.x28{left:264.390106px;}
.x39{left:268.515106px;}
.x1{left:271.671117px;}
.x11{left:274.655514px;}
.x18{left:276.708422px;}
.x3a{left:278.325091px;}
.x12{left:282.802854px;}
.x17{left:288.393481px;}
.x2b{left:291.060077px;}
.x19{left:293.225267px;}
.x1a{left:296.061939px;}
.x21{left:316.670312px;}
.x23{left:317.740380px;}
.x22{left:321.561425px;}
.x24{left:342.943017px;}
.x33{left:396.196850px;}
.x2{left:405.905518px;}
.xb{left:407.094508px;}
.xd{left:457.809052px;}
.x2e{left:466.078740px;}
.x26{left:476.832690px;}
.x9{left:486.478366px;}
.xe{left:511.685041px;}
.x27{left:512.832691px;}
.x4{left:529.685042px;}
.x15{left:534.068511px;}
.x13{left:537.569974px;}
.x14{left:546.509807px;}
.xc{left:638.035445px;}
.x3{left:644.035446px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:95.975130pt;}
.fs1{font-size:48.000002pt;}
.fs3{font-size:64.000002pt;}
.fs2{font-size:74.666666pt;}
.fs4{font-size:160.000005pt;}
.fs0{font-size:202.666678pt;}
.y0{bottom:0.000000pt;}
.y40{bottom:66.200735pt;}
.y42{bottom:90.014361pt;}
.y3f{bottom:92.200736pt;}
.y3d{bottom:93.106251pt;}
.y3a{bottom:101.009141pt;}
.y41{bottom:116.014361pt;}
.y3c{bottom:119.106247pt;}
.y34{bottom:123.513047pt;}
.y39{bottom:127.009137pt;}
.y1e{bottom:134.477367pt;}
.y3e{bottom:144.200734pt;}
.y3b{bottom:145.106248pt;}
.y1d{bottom:148.477367pt;}
.y33{bottom:149.513068pt;}
.y38{bottom:153.009139pt;}
.y29{bottom:168.238528pt;}
.y32{bottom:175.513068pt;}
.y1c{bottom:176.477368pt;}
.y28{bottom:182.238529pt;}
.y1b{bottom:190.477369pt;}
.y27{bottom:196.238529pt;}
.y31{bottom:201.513069pt;}
.y35{bottom:203.014379pt;}
.y1a{bottom:204.477369pt;}
.y26{bottom:210.238529pt;}
.yd{bottom:221.479990pt;}
.y30{bottom:227.513070pt;}
.y24{bottom:232.104560pt;}
.yc{bottom:235.479990pt;}
.y37{bottom:237.429080pt;}
.yb{bottom:249.479991pt;}
.y23{bottom:251.104561pt;}
.y2f{bottom:253.513071pt;}
.y36{bottom:263.429081pt;}
.y22{bottom:270.104561pt;}
.y2e{bottom:279.513068pt;}
.y21{bottom:289.104562pt;}
.y2d{bottom:305.513068pt;}
.y45{bottom:318.694163pt;}
.y2c{bottom:331.513069pt;}
.y19{bottom:346.316214pt;}
.y11{bottom:355.548234pt;}
.y4{bottom:356.826444pt;}
.y2b{bottom:357.513070pt;}
.y16{bottom:360.049544pt;}
.y18{bottom:368.316215pt;}
.y44{bottom:370.694171pt;}
.y3{bottom:370.826445pt;}
.y47{bottom:372.649555pt;}
.y13{bottom:375.553485pt;}
.y6{bottom:381.697845pt;}
.y5{bottom:384.784455pt;}
.y2{bottom:384.826445pt;}
.y17{bottom:390.316217pt;}
.y43{bottom:396.694171pt;}
.y46{bottom:398.649553pt;}
.y14{bottom:407.602046pt;}
.y12{bottom:420.707032pt;}
.ya{bottom:445.899944pt;}
.y9{bottom:459.899944pt;}
.y20{bottom:461.178057pt;}
.y2a{bottom:465.019947pt;}
.y8{bottom:473.899945pt;}
.y25{bottom:476.602624pt;}
.y1f{bottom:480.178058pt;}
.y1{bottom:482.362623pt;}
.y10{bottom:484.695222pt;}
.y7{bottom:487.899945pt;}
.y15{bottom:496.078424pt;}
.yf{bottom:498.695222pt;}
.ye{bottom:512.695222pt;}
.h2{height:36.726564pt;}
.h4{height:48.968752pt;}
.h3{height:54.359375pt;}
.h6{height:57.130208pt;}
.h5{height:120.320004pt;}
.h1{height:152.405342pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1d{left:12.909050pt;}
.x5{left:25.139108pt;}
.x1f{left:28.514520pt;}
.x1e{left:37.838738pt;}
.xf{left:40.774280pt;}
.x1c{left:48.057489pt;}
.x30{left:50.664045pt;}
.x6{left:101.162733pt;}
.x10{left:107.083993pt;}
.x29{left:117.658794pt;}
.x3b{left:149.275595pt;}
.x1b{left:178.377966pt;}
.x7{left:187.356956pt;}
.x25{left:192.940266pt;}
.x37{left:244.480218pt;}
.x20{left:265.570778pt;}
.x8{left:271.317609pt;}
.x34{left:273.300159pt;}
.x32{left:279.020199pt;}
.x31{left:286.720179pt;}
.x35{left:293.120169pt;}
.x36{left:298.480160pt;}
.x2d{left:304.500180pt;}
.x2c{left:309.140190pt;}
.x2f{left:313.120140pt;}
.x38{left:338.020171pt;}
.x2a{left:341.600151pt;}
.xa{left:344.853064pt;}
.x16{left:349.006871pt;}
.x28{left:352.520141pt;}
.x39{left:358.020141pt;}
.x1{left:362.228157pt;}
.x11{left:366.207352pt;}
.x18{left:368.944563pt;}
.x3a{left:371.100122pt;}
.x12{left:377.070472pt;}
.x17{left:384.524641pt;}
.x2b{left:388.080102pt;}
.x19{left:390.967023pt;}
.x1a{left:394.749253pt;}
.x21{left:422.227083pt;}
.x23{left:423.653841pt;}
.x22{left:428.748567pt;}
.x24{left:457.257357pt;}
.x33{left:528.262467pt;}
.x2{left:541.207357pt;}
.xb{left:542.792677pt;}
.xd{left:610.412070pt;}
.x2e{left:621.438320pt;}
.x26{left:635.776920pt;}
.x9{left:648.637821pt;}
.xe{left:682.246722pt;}
.x27{left:683.776922pt;}
.x4{left:706.246723pt;}
.x15{left:712.091348pt;}
.x13{left:716.759965pt;}
.x14{left:728.679743pt;}
.xc{left:850.713927pt;}
.x3{left:858.713927pt;}
}
